In [ ]:
import pandas as pd 
from dataclasses import dataclass
from typing import List
from datetime import datetime

In [ ]:
df_nov=pd.read_excel(r"..\Data\LineC_SessionData-individual rats_SampleData.xlsx")
df_march=pd.read_excel(r"..\Data\Snifftime data_March15.2019_example_withIndividualSniffs.xlsx")
df_sept=pd.read_excel(r"")

In [ ]:
df_nov.

Index(['SESSION_DATE', 'ID_EVALUATION_SESSION', 'ID_RAT', 'Name', 'Birthdate',
       'Gender', 'WEIGHT', 'TEMPERATURE', 'ID_SAMPLE', 'ID_BL_DOTS',
       'ID_BL_APOPO', 'STATUS_KNOWNPOS', 'STATUS_BLINDPOS', 'REWARD', 'HIT',
       'SniffTime', 'SniffThreshold'],
      dtype='object')

In [16]:
df_march.columns

Index(['SESSION_DATE', 'ID_EVALUATION_SESSION', 'RAT_NAME', 'RUN', 'HOLE',
       'LEVEL_NAME', 'SniffTime', 'tblEVALUATION.SniffThreshold',
       'tblRAT_SESSION.SniffThreshold', 'HIT', 'STATUS_BLINDPOS',
       'STATUS_KNOWNPOS', 'REWARD', 'ID_SAMPLE', 'ID_GXP_DOTS', 'ID_BL_DOTS',
       'ID_BL_APOPO', 'ID_BL_FM', 'ID_GXP_APOPO', 'START_TIME', 'END_TIME',
       'Duration(M)', 'Duration(S)', 'TEMPERATURE', 'BIRTH_DATE', 'age',
       'Sniff 1', 'Sniff 2', 'Sniff 3', 'Sniff 4', 'Sniff 5', 'Sniff 6',
       'Sniff 7', 'Sniff 8', 'Cumulative Sniff Time', 'Match?'],
      dtype='object')

In [ ]:
@dataclass
class Rat(): 
    id:int
    Name:str
    birth_date:datetime 
    age:float
    threshold:int
    hole_dist:List[dict]
    accuracy:float

In [38]:
rat_profiling

,BIRTH_DATE,age,HOLE,Match?
RAT_NAME,,,,
Daudi,"[2016-10-28 00:00:00, 2016-10-28 00:00:00, 201...","[2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."
Doreen,"[2016-10-31 00:00:00, 2016-10-31 00:00:00, 201...","[2.37, 2.37, 2.37, 2.37, 2.37, 2.37, 2.37, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[False, False, True, True, True, True, True, T..."
Kahu,"[2016-10-28 00:00:00, 2016-10-28 00:00:00, 201...","[2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."
Maui,"[2016-11-05 00:00:00, 2016-11-05 00:00:00, 201...","[2.36, 2.36, 2.36, 2.36, 2.36, 2.36, 2.36, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."
Moana,"[2016-10-31 00:00:00, 2016-10-31 00:00:00, 201...","[2.37, 2.37, 2.37, 2.37, 2.37, 2.37, 2.37, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."
Moureen,"[2016-10-28 00:00:00, 2016-10-28 00:00:00, 201...","[2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."
Ngaio,"[2016-10-31 00:00:00, 2016-10-31 00:00:00, 201...","[2.37, 2.37, 2.37, 2.37, 2.37, 2.37, 2.37, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."
Rui,"[2016-10-28 00:00:00, 2016-10-28 00:00:00, 201...","[2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.38, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."
Samiry,"[2016-11-05 00:00:00, 2016-11-05 00:00:00, 201...","[2.36, 2.36, 2.36, 2.36, 2.36, 2.36, 2.36, 2.3...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5,...","[True, True, True, True, True, True, True, Tru..."

In [ ]:
def rat_profiling(row): 
    birth_date=row['BIRTHDATE'].date()
    age=row['age'][0]
    accuracy = sum(row['Match?'])/len(row['Match?'])

In [51]:
rat_profiling=df_march.groupby('RAT_NAME')[['BIRTH_DATE','age','Match?']].agg(list)

In [53]:
test=rat_profiling['Match?'].iloc[0]

In [54]:
sum(test)/len(test)

0.9857142857142858

In [50]:
hole_dist={}
for i in test: 
 
    if i in hole_dist.keys(): 
        hole_dist[i]+=1
    else : 
        hole_dist[i]=1

print(hole_dist)

{1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 7, 7: 7, 8: 7, 9: 7, 10: 7}

In [18]:
df_march.RAT_NAME.unique()

array(['Daudi', 'Doreen', 'Kahu', 'Maui', 'Moana', 'Moureen', 'Ngaio',
       'Rui', 'Samiry'], dtype=object)